/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');  

/* CSS VARIABLE */
:root{
--nav-width : 92px;


    /* Color */
    --first-color : #0C5DF4;
    --bg-color : #12192C;
    --sub-color : #B6CEFC;
    --white-color : #fff;

    /* FONT */
    --body-font : 'Poppins',sans-serif;
    --normal-font-size : 1rem;
    --small-font-size : .875 rem;

    /* Z Index */
    --z-fixed :100;
}

/* BASE */
*,::before,::after{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6,75rem;
    font-family: var(--body-font);
    font-size : var(--normal-font-size);
    transition: 0.5s;
}

h1{
    margin: 0;
    padding : 30px 20px 20px 140px;
    transition: 0.7s;
    font-size: 2.5rem;
}
p{
    margin: 0;
    padding : 30px 20px 20px 140px;
    transition: 0.7s;
    font-size: 1.5rem;
}


ul{
    margin : 0 ;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: 0;
}


.top-navbar{
    position: fixed;
    top : 0;
    left : 0;
    width: 92px;
    height: 100vh;
    background-color: #12192C;
    color : #fff;
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s ;
    z-index: 100;
}


.nav{
    height :100%;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_brand{
    display : grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom :2rem;
}

.nav-toggle{
    font-size: 1,25rem;
    padding :1rem;
    cursor: pointer;

}
.nav_logo{
    color : #fff;
    font-weight: 600;
}
.nav_link{
    display : grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding :.75rem;
    color : #fff;
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;

}
.nav_link:hover{
    background-color: #0C5DF4;
}
.nav_icon{
    font-size: 1.25rem;
}
.nav_name{
    font-size: .875rem;
}

.expander{
    width :calc(15.25rem)
}

.body-pd{
    padding: 2rem 0 0 16rem;
}

.main{
    transition: 1s;
    
}
.main img{
    margin: 0;
    padding : 30px 0px 0px 120px;
    transition: 0.7s;
    font-size: 1.5rem;
}
.recursion{
    display : flex;
    border-radius: 10px;
}

.linked-class{
    display : flex;   
}
#node{
    width: 650px;
}
#node1{
    width: 650px;
    height: 250px;
}

#listadd{
    width: 650px;
}
#listadd1{
    width: 700px;
    height: 250px;
}
#insertnode{
    width: 650px
}

#bubble1{
    height: 470px;
}
#bubble{
    height: 500px;
}

#merge{
    height: 600px;
    width: 100%;
}
.quicksort{
    display: flex;
    margin-bottom: 100px;
}
#quick{
    
    width: 50%;
}